.topic-statuses .topic-status i.fa-check-square-o {
	color: $success;
}

#topic-footer-buttons {

	.topic-notifications-button, .flag-topic, .invite-topic, .create {
		display: none;
	}

}

#share-link .reply-as-new-topic {
	display: none;
}

nav.post-controls button.reply, nav.post-controls button.reply.d-hover {
	background: $success !important;
	color: $secondary !important;
}
